<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<style>

@font-face {
    font-family: "Computer Modern";
    /*src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');*/
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
}

#notebook_panel { /* main background */
    background: rgba(235,235,235,0.7);/*#888;*/
    color: #f6f6f6;
}

div.cell { /* set cell width to about 80 chars */
    width: 900px;
}

div #notebook { /* centre the content */
    background: #fff; /* white background for content */
    width: 1300px;
    margin: auto;
    /*width: 115ex;*/
    padding-left: 10ex;
    padding-right: 1ex;
    padding-top: 2ex;
}

#notebook li { /* More space between bullet points */
margin-top:0.8em;
}

/* draw border around running cells */
div.cell.border-box-sizing.code_cell.running {
    border: 3px solid #111;
}



div.warn {    
    background-color: #fcf2f2;
    border-color: #dFb5b4;
    border-left: 5px solid #dfb5b4;
    padding: 0.5em;
}




/* Put a solid color box around each cell and its output, visually linking them together */
div.cell.code_cell {
    background-color: rgba(233,233,171,0.4);/*rgba(171,165,131,1.0); */
    /*border: 1px solid #111;*/
    border-radius: 10px; /* rounded borders */
    padding: 1em;
    margin-top: 1em;
    padding-left: 0em;
}


div.work {    
    background-color: #d8effc;/*#bae6ff;*/
    border-color: #88cffb;
    border-left: 5px solid #88cffb;
    padding: 0.5em;
    color:grey;
}



div.input_area { /* box around box with code */
    border: none;
    background: #fff;
    border: 1px solid #111;/*#ccc;*/
    border-radius: 10px;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 0.5em;
}


div.cell.text_cell.border-box-sizing {
    margin: 0;
    padding: 0em;
    padding-top: 1ex;
    padding-bottom: 1ex;
    background: #fff
}


div.output_subarea { /* remove margin in front of output */
/*     border: none; */
/*      background: #fff;  */
     color: #111; /* Color of input subarea (box input by keyboard) */
}



div.text_cell_render{
    font-family: 'Alegreya' sans-serif;
    line-height: 130%;
    font-size: 115%;
    width:900px;
    margin-left:auto;
    margin-right:auto;
}


/* Formatting for header cells */
.text_cell_render h1 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    font-size: 50pt;
    line-height: 100%;
    color: rgb(12,85,97);
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    display: block;
}
.text_cell_render h2 {
    font-family: 'Philosopher', serif;
    font-weight: 700;
    font-size: 24pt;
    line-height: 100%;
    color: rgb(171,165,131);
    margin-bottom: 0.01em;
    margin-top: 0.5em;
    display: block;
}

.text_cell_render h3 {
    font-family: 'Philosopher', serif;
    margin-top:12px;
    margin-bottom: 3px;
    font-style: italic;
    color: rgb(95,92,72);
}

.text_cell_render h4 {
    font-family: 'Philosopher', serif;
}

.text_cell_render h5 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    color: grey;
    font-style: italic;
    margin-bottom: .1em;
    margin-top: 0.1em;
    display: block;
}

.text_cell_render h6 {
    font-family: 'PT Mono', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: grey;
    margin-bottom: 1px;
    margin-top: 1px;
}

.CodeMirror{
        font-family: "Inconsolata-dz", monospace;/*"PT Mono";*/
        font-size: 10pt/*100%;*/
}

div.prompt { /* remove In/Out prompt */
    /*display: none;*/
}

</style>
